*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
html{
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: rgb(32, 44, 100);
}
body{
  height: 3000px;
}
.cemRabiscado{
margin-top: 5px;
}
nav{
  background-color:transparent;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1; /* 1111111  */
  transition: 0.9s ease-out;
}
nav.scroll {
background-color:rgb(32, 44, 100);
box-shadow: #ffc609  0.2em 0.1em;
transition: 1s;
}
nav.scroll:hover{
  background-color: rgb(6, 6, 136);
}
ul{
  float: right;
  margin-right: 10px;
}
li{
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

.menu{
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition:0.5s ease-out;
}

.menu:hover{
  background-color: rgb(243, 241, 125);
  border-radius: 7px;
}

.logocem{
  width: 80px;
  cursor: pointer;
  margin: 5px 20px;
}
header{
  background: url(./imagens/fundoHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.container{
  background: url(./imagens/escolafundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.content{
  display: flex;
  flex-direction: column;
  align-items:flex-start; 
  justify-content: center;
  height: 100%;
  color: rgb(0, 0, 0);
  margin-right: 50px;
}
.title{
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 40px;
  color: #f7f0b5;
  font-weight: bold;
  text-transform: uppercase;
  width: 400px;
  overflow: break-word;
  word-wrap: break-word;
  text-align: justify;
  text-shadow: rgb(32, 44, 100)0 0 0.2em;
  padding: 0 15px;
  margin-bottom: 15px;
}
.paragrafo{
  font-family: cursive;
  font-size: 19px;
  font-weight: bold;
  width: 400px;
  text-shadow: rgb(255, 253, 253)0 0 0.4em;
  overflow: break-word;
  word-wrap: break-word;
  text-align: justify;
  margin-top: 5px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.button{
  font-size: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  background-color:transparent;
  border-radius: 10px;
  transition: 0.5s ease-out;
  
}
.button:hover{
  background-color: rgba(232, 252, 120, 0.671);
}
.div-btn{
  margin: 20px 20%;
}
.infoCem {
  margin: 50px;
  display: flex;
  gap: 20px;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  line-height: 30px;
}
.infoTitle{
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: rgb(32, 44, 100);
}
.textInfo{
  color:white;
}
.cTitle{
  margin-bottom: 20px;
  font-family:cursive;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color:  white;
  text-shadow: rgb(32, 44, 100) 0.0.0.2em;
  margin-top: 35px;
}
.contentCursos{
display: flex;
justify-content: space-between;
margin-top: 15px;
gap: 10px;
margin-bottom: 40px;
}
.imgInfo {
  width: 600px;
}
.textInfo{
font-size: 20px;
font-weight: bold;
padding: 0 10px;
}  
.imgDiv{
max-width: 970px;
margin: 0 auto;
} 
.cursosImg{
width: 300px;
height: 300px;
}
.cursosButton1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #ffc609;
    color: #ffc609;
    border-radius: 20px;
    padding: 3px 9px;
    font-size: 18px;
    cursor: pointer;
    background-color:transparent;
    margin-top: 5px;
  } 
.cursosButton1:hover{
  background-color: rgb(181, 247, 144);
  transition: 0.7s;
}
.cursosButton2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #ffc609;
  color: #ffc609;
  border-radius: 20px;
  padding: 3px 9px;
  font-size: 18px;
  cursor: pointer;
  background-color:transparent;
  margin-top: 5px;
} 
 .cursosButton2:hover{
  background-color: rgb(252, 250, 229);
  transition: 0.7s;
}
 .cursosButton3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #ffc609;
  color: #ffc609;
  border-radius: 20px;
  padding: 3px 9px;
  font-size: 18px;
  cursor: pointer;
  background-color:transparent;
  margin-top: 5px;
   } 
 .cursosButton3:hover{
   background-color: rgb(79, 96, 248);
   transition: 0.7s;
 }
 .cursosButton4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #ffc609;
  color: #ffc609;
  border-radius: 20px;
  padding: 3px 9px;
  font-size: 18px;
  cursor: pointer;
  background-color:transparent;
  margin-top: 5px;
 }
.cursosButton4:hover{
  background-color: rgb(161, 46, 46);
  transition: 0.7s;
  }
.cursosBtnDiv{
align-items: center;
justify-content: center;
display: flex;
}
.sectionSlider{
margin: 0 auto;
width: 700px;
height: 500px;
overflow: hidden;
box-shadow: black 0 0 0.6em;

}
.slides{
width: 500%;
height: 100%;
display: flex;

}
.slides input {
display: none;
}
.imgSlide{
width: 25%;
position: relative;
transition: 1.5s;

}
.imgSlide img{
width: 700px;
height: 100%;
}
.label-nav{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
gap: 30px;
}
.label-btn{
border: 2px solid white;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 0.7s;
}
.label-btn:hover{
background-color: black;
}
#radio1:checked ~ .first{
margin-left: 0;
}
#radio2:checked ~ .first{
margin-left: -25%;
}
#radio3:checked ~ .first{
margin-left: -50%;
}
#radio4:checked ~ .first{
margin-left: -75%;
}
#radio5:checked ~ .first{
margin-left: -100%;
}

.sectionForm{
background-color: #ffc609;
padding: 10px 0;
margin-top: 10px;
}

.form{
position: relative;
margin: 20px auto;
display: flex;
flex-direction: column;
max-width: 500px;
gap: 10px;  
}
.formText{
font-family:sans-serif;
}
.input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 10px;
font-size: bold;
border: 2px solid rgba(0, 0, 0, 0.527);
background-color: transparent;
color: black;
border-radius: 5px;
transition: all 0.5s ease-out;
caret-color: grey; /* colorir a barra de digitação(cursor que fica piscando) */
}
.declaracao{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opcoes{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input::placeholder{
color: black;
}
.input:focus{
outline: none;
border: 2px solid black;
}
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
}
select{
padding: 10px;
border: 2px solid rgba(0, 0, 0, 0.527);
background-color: transparent;
color: black;
border-radius: 5px;
transition: all 0.5s ease-out;
cursor: pointer;
}
.button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select:focus{
outline: none;
border: 2px solid black;
}
select:hover{
background-color: #f9ffa9;
}
textarea{
resize: none;
}
footer {
background-color:rgb(32, 44, 100);
margin-top: 3px;
height: 60px;
}
.footerimg {
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
}
.contatoH2{
text-align: center;
padding: 20px 0;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contatoimages {
display: flex;
justify-content: center;
width: 100%;
padding: 20px 0;
gap: 150px;
}
.topo {
  font-family: fantasy;
  text-decoration: none;
  text-align: center;
  float:right;
  border: 2px solid #ffc609;
  color: black;
  border-radius: 7px;
  padding: 2px 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffc609;
  margin-top: 20px;
  margin-bottom: 10px;
  scroll-behavior: smooth;
}
.topo:hover{
  background-color: #f7f0b5;
}